data.db
/.settings/
/*.pyc
diagram.ps
aggregate.log
dht22.log

twitter/.idea/
.idea/workspace.xml
.idea/*

website/.idea/*
website/logs/error.log
twitter/.idea

website/config.env.php

data-new.db
data.db