<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {
		packages : [ "corechart" ]
	});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
				[ 'Date', 'Temperature'], {data} ]);

		var options = {
			title : 'Temperature',
			legend: {position: 'none'}
		};
		

		var chart = new google.visualization.LineChart(document
				.getElementById('chart'));
		chart.draw(data, options);
	}
</script>
