<div class="row">
	<div class="span9">
		<h2>Last 72 hours</h2>
		<div id="chartHourTemperature" class="span9" style="height: 250px;"></div>
		<div id="chartHourHumidity" class="span9" style="height: 250px;"></div>
		<div id="chartHourPressure" class="span9" style="height: 250px;"></div>
	</div>
</div>


<div class="row">
	<div class="span9">
		<h2>Last 14 days</h2>
		<div id="chartDailyTemperature" class="span9" style="height: 250px;"></div>
		<div id="chartDailyHumidity" class="span9" style="height: 250px;"></div>
		<div id="chartDailyPressure" class="span9" style="height: 250px;"></div>
	</div>
</div>