<div class="container" id="container">

</div>
<process data-type="forecast"></process>

<div id="row-template">
	<div id="" class="row overview-row">
	</div>
</div>

<div id="forecast-template">
	<div class="span4 overview-box">
		<img data-type="icon" class="no-resize weather-icon" />
		<h3 data-type="date"></h3>
		<table class="table table-striped">
			<tr>
				<th>{T:Temperature}</th>
				<td><span data-type="temperature"></span>&deg;C</td>
			</tr>
			<tr>
				<th>{T:Humidity}</th>
				<td><span data-type="humidity"></span>%</td>
			</tr>
			<tr>
				<th>{T:Pressure}</th>
				<td><span data-type="pressure"></span>hPa</td>
			</tr>
			<tr>
				<th>{T:Wind speed}</th>
				<td><span data-type="speed"></span>m/s</td>
			</tr>
			<tr>
				<th>{T:Wind direction}</th>
				<td><span data-type="direction"></span>&deg;</td>
			</tr>
		</table>
	</div>

</div>
<script type="text/javascript">
	var weatherProxy = {};
	weatherProxy.forecast = {proxyForecast};
</script>