<div class="container">

	<div class="row overview-row">
	
		<div class="span4 overview-box">
			<img id="icon-current" class="hidden no-resize weather-icon" />
			<h3>{T:Now}</h3>
			<table class="table table-striped">
				<tr>
					<th>{T:Temperature}</th>
					<td>{Temperature}&deg;C</td>
				</tr>
				<tr>
					<th>{T:Humidity}</th>
					<td>{Humidity}%</td>
				</tr>
				<tr>
					<th>{T:Pressure}</th>
					<td>{Pressure}hPa</td>
				</tr>
				<tr>
					<th>{T:Wind speed}</th>
					<td>{WindSpeed}m/s</td>
				</tr>
				<tr>
					<th>{T:Wind direction}</th>
					<td>{WindDirection}&deg;</td>
				</tr>
			</table>
		</div>
		
		<div class="span4 overview-box">
			<img id="icon-today" class="hidden no-resize weather-icon" />
			<h3>{T:Today}</h3>
			<table class="table table-striped">
				<tr>
					<th>{T:Temperature}</th>
					<td><span id="today-temperature"></span>&deg;C</td>
				</tr>
				<tr>
					<th>{T:Humidity}</th>
					<td><span id="today-humidity"></span>%</td>
				</tr>
				<tr>
					<th>{T:Pressure}</th>
					<td><span id="today-pressure"></span>hPa</td>
				</tr>
				<tr>
					<th>{T:Wind speed}</th>
					<td><span id="today-speed"></span>m/s</td>
				</tr>
				<tr>
					<th>{T:Wind direction}</th>
					<td><span id="today-direction"></span>&deg;</td>
				</tr>
			</table>
		</div>
		
		<div class="span4 overview-box">
			<img id="icon-tomorrow" class="hidden no-resize weather-icon" />
			<h3>{T:Tomorrow}</h3>
			<table class="table table-striped">
				<tr>
					<th>{T:Temperature}</th>
					<td><span id="tomorrow-temperature"></span>&deg;C</td>
				</tr>
				<tr>
					<th>{T:Humidity}</th>
					<td><span id="tomorrow-humidity"></span>%</td>
				</tr>
				<tr>
					<th>{T:Pressure}</th>
					<td><span id="tomorrow-pressure"></span>hPa</td>
				</tr>
				<tr>
					<th>{T:Wind speed}</th>
					<td><span id="tomorrow-speed"></span>m/s</td>
				</tr>
				<tr>
					<th>{T:Wind direction}</th>
					<td><span id="tomorrow-direction"></span>&deg;</td>
				</tr>
			</table>
		</div>
		
	</div>

	<div class="row">
		<div class="span3">
			<div id="chart-wind" style="height: 300px; margin: 0 auto" ></div>
			<div class="">
				<h3>{T:Temperature}</h3>
				<table class="table table-striped statistics-box">
					<tr>
						<th>{T:24h average}</th>
						<td>{1dTempAvg}&deg;C</td>
					</tr>
					<tr>
						<th>{T:24h min}</th>
						<td>{1dTempMin}&deg;C</td>
					</tr>
					<tr>
						<th>{T:24h max}</th>
						<td>{1dTempMax}&deg;C</td>
					</tr>
					<tr>
						<th>{T:7d average}</th>
						<td>{7dTempAvg}&deg;C</td>
					</tr>
					<tr>
						<th>{T:7d min}</th>
						<td>{7dTempMin}&deg;C</td>
					</tr>
					<tr>
						<th>{T:7d max}</th>
						<td>{7dTempMax}&deg;C</td>
					</tr>
				</table>
			</div>
			<div>
				<h3>{T:Humidity}</h3>
				<table class="table table-striped statistics-box">
					<tr>
						<th>{T:24h average}</th>
						<td>{1dHumidityAvg}%</td>
					</tr>
					<tr>
						<th>{T:24h min}</th>
						<td>{1dHumidityMin}%</td>
					</tr>
					<tr>
						<th>{T:24h max}</th>
						<td>{1dHumidityMax}%</td>
					</tr>
					<tr>
						<th>{T:7d average}</th>
						<td>{7dHumidityAvg}%</td>
					</tr>
					<tr>
						<th>{T:7d min}</th>
						<td>{7dHumidityMin}%</td>
					</tr>
					<tr>
						<th>{T:7d max}</th>
						<td>{7dHumidityMax}%</td>
					</tr>
				</table>
			</div>
			<div>
				<h3>{T:Pressure}</h3>
				<table class="table table-striped statistics-box">
					<tr>
						<th>{T:24h average}</th>
						<td>{1dPressureAvg}hPa</td>
					</tr>
					<tr>
						<th>{T:24h min}</th>
						<td>{1dPressureMin}hPa</td>
					</tr>
					<tr>
						<th>{T:24h max}</th>
						<td>{1dPressureMax}hPa</td>
					</tr>
					<tr>
						<th>{T:7d average}</th>
						<td>{7dPressureAvg}hPa</td>
					</tr>
					<tr>
						<th>{T:7d min}</th>
						<td>{7dPressureMin}hPa</td>
					</tr>
					<tr>
						<th>{T:7d max}</th>
						<td>{7dPressureMax}hPa</td>
					</tr>
				</table>
			</div>
			<div>
				<h3>{T:Wind speed}</h3>
				<table class="table table-striped statistics-box">
					<tr>
						<th>{T:24h average}</th>
						<td>{1dWindAvg}m/s</td>
					</tr>
					<tr>
						<th>{T:24h min}</th>
						<td>{1dWindMin}m/s</td>
					</tr>
					<tr>
						<th>{T:24h max}</th>
						<td>{1dWindMax}m/s</td>
					</tr>
					<tr>
						<th>{T:7d average}</th>
						<td>{7dWindAvg}m/s</td>
					</tr>
					<tr>
						<th>{T:7d min}</th>
						<td>{7dWindMin}m/s</td>
					</tr>
					<tr>
						<th>{T:7d max}</th>
						<td>{7dWindMax}m/s</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="span9">
			{pageContent}

			<div class="navbar">
				<div class="navbar-inner">
					<span class="brand">Show as:</span>
					<ul class="nav">
						<li class="{submenu-active-chart}"><a href="?class={params:class}&type=chart">{T:Charts}</a></li>
						<li class="{submenu-active-table}"><a href="?class={params:class}&type=table">{T:Tables}</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</div>
</div>
<process data-type="overview"></process>